@using EntityLayer.Concrete
@model List<Product> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!--  LİST-UPDATE-DELETE   -->

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Ürün Fiyatı</th>
            <th scope="col">Ürün Hakkında </th>
            
            <th scope="col">Güncelle </th>
            <th scope="col">Sil </th>

        </tr>
    </thead>
</table>

<table class="table table-striped table-hover">
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.ProductName </td>
                <td>@item.ProductPrice </td>
                <td>@item.ProductDescription </td>
                <td> <a class="btn btn-info" href="/Admin/Product/ProductUpdate/@item.ProductId">Güncelle</a></td>
                <td><a class="btn btn-danger" href="/Admin/Product/ProductDelete/@item.ProductId">Sil </a></td>
            </tr>
        </tbody>

    }
</table>